<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Album</title>
</head>
  <body>
  @using Organizer.Models
  <h1>@Model.Name</h1>
  <ul>
   @foreach(Album album in @Model.Albums)
   {
     <li>@album.Name</li>
   }
   <ul>
   <a href="/artist/@Model.Name/record/new">Add an Album</a>
  </body>
</html>